@import url("https://fonts.googleapis.com/css?family=Overpass:900");
h1, h2 {
  font-family: 'Overpass', 'sans-serif'; }

.mainNavbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .mainNavbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s; }
    .mainNavbar a:hover {
      color: #c84664; }
  .mainNavbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none; }
  .openbtn:hover {
    background-color: #444; }

#main {
  transition: margin-left .5s;
  padding: 16px; }

.hierarchy p.indented {
  text-indent: 40px;
  display: none; }

.hierarchy p.lv1desc {
  font-weight: bold; }

.hierarchy p.lv1 {
  padding-bottom: 10px;
  text-decoration: underline;
  font-size: 20px; }

.hierarchy p.desc {
  text-indent: 40px;
  display: none;
  font-size: 14px; }

.hierarchy:hover p.indented {
  display: block; }

.hierarchy:hover p.indented:hover + p.desc {
  display: block; }
