@import url("https://fonts.googleapis.com/css?family=Overpass:900");
h1, h2 {
  font-family: 'Overpass', 'sans-serif'; }

#rollList li {
  padding: 1em;
  margin-bottom: .125em;
  display: block;
  list-style: none;
  color: white;
  background-color: black;
  width: 25%; }

.desc {
  font-size: 14px; }

li.roll {
  visibility: hidden; }

.rollup-list li.roll {
  visibility: visible;
  animation: rollup .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards; }

.rolldown-list li.roll {
  visibility: hidden;
  animation: rolldown .7s 1;
  transform-origin: 50% 0;
  animation-fill-mode: forwards; }

#rollList {
  padding: 0;
  margin: 10px;
  text-align: left; }

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX(180deg) perspective(500px); }
  70% {
    visibility: visible;
    transform: rotateX(-20deg); }
  100% {
    visibility: visible;
    transform: rotateX(0deg); } }

@keyframes rollup {
  0% {
    visibility: visible;
    transform: rotateX(0deg); }
  30% {
    transform: rotateX(-20deg); }
  70% {
    visibility: hidden; }
  100% {
    visibility: hidden;
    transform: rotateX(180deg) perspective(500px); } }

.page-desc {
  font-weight: bold;
  font-size: 18px; }

.subnavbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DDDDDD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .subnavbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #222222;
    display: block;
    transition: 0.3s; }
    .subnavbar a:hover {
      color: rgba(100, 100, 255, 0.7); }
  .subnavbar a.subdir {
    text-indent: .65em; }
  .subnavbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #DDDDDD;
  color: #222222;
  padding: 10px 15px;
  border: none; }
  .openbtn:hover {
    background-color: #222222;
    color: #DDDDDD; }

#main {
  transition: margin-left .5s;
  padding: 16px; }
